<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="mylogo"
    src="assets/images/logo.png"
  />
  <span>&nbsp;&nbsp;ICIN BANK&nbsp;&nbsp;&nbsp;</span>
      <a class="nav-link" routerLink="/">Home</a>
      <a class="nav-link" routerLink="/">My Account</a>
    <div class="spacer"></div>
    <a class="nav-link" routerLink="/login">Login&nbsp;&nbsp;&nbsp;</a>    
</div>

<router-outlet></router-outlet>
<app-image-slider></app-image-slider>

<br>
<br>
<br>
